.nav_conte{
    width: 1296px;
    margin: auto;
}

.nav_link{
    color: #F4F4F4;
    text-decoration: none;
}



.nav_number_title{
    display: flex;
    height: 20px;
    gap: 10px;
  margin-left: 20px;
}

.nav_numbers{
    width: 1300px;
    display: flex;
    height: 30px;
    margin: auto;

    gap: 40px;
    border-radius: 0px 0px 5px 5px;
background: var(--color-gray-100, #F4F4F4);
}
.nav_logo{
    display: flex;
}

.nav_inputs{
    display: flex;
    align-items: center;
    
}

.nav_input{
   width: 500px;
height: 40px;
flex-shrink: 0;
border-radius: 5px;

}

.nav_input{
background-image: url(../Image/Navserach.png) ;
background-repeat: no-repeat;
background-position-x: right;
background-size: 25px;
background-position: 460px;
font-size: 20px;
padding-left: 10px;
}

.nav_users{
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav_logo{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav_menu{
     margin-top: 10px;
height: 45px;
color: #F4F4F4;
align-items: center;
    display: flex;
    padding-left: 20px;
    padding-top: 15px;
    gap: 30px;
    border-radius: 5px 5px 0px 0px;
background: var(--color-blue-700, #005D85);
}


@media only screen and (max-width:1296px) {
.nav_conte{
    width: 1200px;
    margin: auto;
}

.nav_numbers{
    width: 1200px;
}
}


@media only screen and (max-width:1201px) {
.nav_conte{
    width: 1050px;
    margin: auto;
}

.nav_numbers{
    width: 1050px;
}
}

@media only screen and (max-width:1051px) {
.nav_conte{
    width: 950px;
    margin: auto;
}

.nav_numbers{
    width: 950px;
}
}


@media only screen and (max-width:951px) {
.nav_conte{
    width: 900px;
    margin: auto;
}
.nav_input{
   width: 350px;
height: 40px;
flex-shrink: 0;
border-radius: 5px;

}
.nav_numbers{
    width: 900px;
}
}